#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    /* Simulation d'un kscan fictif à 0 touche si tu n'as pas de boutons physiques */
    kscan0: kscan {
        compatible = "zmk,kscan-mock";
        columns = <0>;
        rows = <0>;
        events = <0>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <>;
        };
    };
};
